.sign_up-wrapper
  .sign_up-wrapper__left
    = image_tag src = "logo.png", width: "800"
  .sign_up-wrapper__right
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .sign_up-wrapper__right--form
        = f.text_field :name, autofocus: true, placeholder: " 名前を入力するんだ", class: "form"
      .sign_up-wrapper__right--form
        = f.email_field :email, placeholder: " メールアドレスを入力するんだ", class: "form"
      .sign_up-wrapper__right--form
        = f.password_field :password, autocomplete: "off", placeholder: " パスワードを入力するんだ（英数字８文字以上）", class: "form"
      .sign_up-wrapper__right--form
        = f.password_field :password_confirmation, autocomplete: "off", placeholder: " もう一度パスワードを入力するんだ", class: "form"
      = f.submit "押忍！（アカウント作成）", class: 'sign_up-btn'
      = render "devise/shared/links"
