.header
  =render partial: "layouts/header"

.mypage__main
  .mypage__main--left
    俺の情報編集
    = form_for(current_user) do |f|
      .field
        .field-label
          = f.label :name
        .field-input
          = f.text_field :name, autofocus: true
      .field
        .field-label
          = f.label :email
        .field-input
          = f.email_field :email
      .actions
        = f.submit "更新する", class: 'btn'
  .mypage__main--right
    俺のレシピ一覧
    .mypage__main--right--groups
      .mypage__main--right--groups--list
        -@posts.each do |post| 
          .mypage__main--right--groups--list--image
            = image_tag src= post.image
          .result__groups--lists--textBox
            .mypage__main--right--groups--list-textBox--text
            ⌘ 投稿者  ：    
            = post.user.name
            .mypage__main--right--groups--list--textBox--text
            ⌘ タイトル：
            = post.title
            .mypage__main--right--groups--list--textBox--text
            ⌘ 作り方  ：
            = simple_format(post.body)
      .mypage__main--right--groups--list
      .mypage__main--right--groups--list
.footer
  = render partial: "layouts/footer"
