.header
  =render partial: "layouts/header"

.mypage__main
  .mypage__main--left
    俺の情報編集
    = form_for(current_user) do |f|
      = f.text_field :name, autofocus: true, placeholder: " 変更後の名前を入力してくれ！", class: "mypage__main--left--form"
      = f.email_field :email, placeholder: " 変更後のメールアドレスを入力してくれ！", class: "mypage__main--left--form"
      = f.submit "更新する!", class: 'mypage__main--left--btn'
  .mypage__main--right
    俺のレシピ一覧
    .mypage__main--right--groups
      -@posts.each do |post| 
        .mypage__main--right--groups--list
          .mypage__main--right--groups--list--image
            = image_tag src= post.image, height: "250", width: "200", class: "img"
          .result__groups--lists--textBox
            .mypage__main--right--groups--list-textBox--text
            投稿者  ：    
            = post.user.name
            .mypage__main--right--groups--list--textBox--text
            タイトル：
            = post.title
            .mypage__main--right--groups--list--textBox--text
            作り方  ：
            = simple_format(post.body)
.footer
  = render partial: "layouts/footer"
