.top-wrapper
  .top-wrapper__main
    = image_tag src = "logo.png", width: "600"
  .top-wrapper__bottom
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .top-wrapper__bottom--input
        = f.email_field :email, autofocus: true, class: "input", placeholder: "　メールアドレスを入力するんだ"
      .top-wrapper__bottom--input
        = f.password_field :password, autocomplete: "off", class: "input", placeholder: "　パスワードを入力するんだ（英数字８文字以上）"
      .top-wrapper__bottom--input
        = f.submit "押忍！（ログイン）", class: 'login_btn' 
        = render "devise/shared/links"
