.header
  = render partial: "layouts/header"

.main__edit
  .main__edit--forms
    = form_for @post do |f|
      = f.text_field :title, placeholder: "タイトル", class: "main__edit--forms--title"
      = f.text_area :material, placeholder: "材料", class: "main__edit--forms--material"
      = f.text_area :body, placeholder: "レシピ", class: "main__edit--forms--recipe"
      = f.submit '更新', class: 'main__edit--forms--submit'
      = f.label :image, class: "main__edit--forms--inputImage" do
        = icon('fas', 'camera-retro')
        = f.file_field :image, class: "post_img"

  .main__edit__previews    
    .main__edit__previews__image
    -if @post.image.present?
      =image_tag @post.image, id: :img_prev
    -else
      =image_tag "no_image.png", id: :img_prev
    .main__edit__previews__category

.footer
  = render partial: "layouts/footer"

  