.header
  =render partial: "layouts/header"

.main
  .main__left
    .main__left--groups
      -@posts.each do |post| 
        .main__left--groups--lists
          .main__left--groups--lists--image
            = image_tag src= post.image, height: "250", width: "250", class: "img"
          .main__left--groups--lists--textBox
            .main__left--groups--lists--textBox--text
            投稿者  ：  
            = post.user.name
            .main__left--groups--lists--textBox--text
            タイトル：  
            = post.title
            .main__left--groups--lists--textBox--text
            レシピ  ：
            = simple_format(post.body)
  .main__right
    = form_for search_posts_path, local: true, method: :get, class: "main__right--searchBox" do |f|
      =f.text_field :keyword, placeholder: "キーワード検索", class: "main__right--searchBox--text"
      =f.submit "検索", class: "main__right--searchBox--btn"

.footer
  = render partial: "layouts/footer"