.header
  =render partial: "layouts/header"

.main
  .main__left
    .main__left--groups
      -@posts.each do |post| 
        .main__left--groups--lists
          .main__left--groups--lists--image
            = link_to image_tag(post.image, class: "img"), post_path(post.id), class: "img"
          .main__left--groups--lists--textBox
          .main__left--groups--lists--textBox--text
            .main__left--groups--lists--textBox--text  
            = post.title
  .main__right
    %p レシピ検索
    = form_tag('/posts/search', method: 'get') do
      = text_field_tag(:keyword)
      = submit_tag('検索する', class: "search-btn")

-# - @parents.each do |parent|
-#   =parent.name
-#   - parent.children.each do |child|
-#     =child.name 
-#     - child.children.each do |grandchild|
-#       =grandchild.name


.footer
  = render partial: "layouts/footer"

  