.header
  = render partial: "layouts/header"

.show-main
  .show-main__left
    .show-main__left--image
      = image_tag src= @post.image
    .show-main__left--iine
      = render partial: 'likes/like', locals: { post: @post }
    
    .show-main__left__manage
      -if user_signed_in? && current_user.id == @post.user_id 
        =link_to '編集', edit_post_path(@post.id), method: :get, class: "manage-btn"
        =link_to '削除', post_path(@post.id), method: :delete, class: "manage-btn"
  
  .show-main__right
    .show-main__right--forms
      .show-main__rigth--forms--name 
        %p 投稿者 
      .show-main__rigth--forms--title
        %p タイトル
      .show-main__rigth--forms--material
        %p 材料
      .show-main__rigth--form--recipe
        %p レシピ
    .show-main__right--forms--post
      .show-main__right--forms--post__name
        %p= @post.user.name
      .show-main__right--forms--post__title
        %p= @post.title 
      .show-main__right--forms--post__material
        %p= @post.material
      .show-main__right--forms--post__body
        %p= @post.body



.footer
  = render partial: "layouts/footer"