.header
  = render partial: "layouts/header"

.show-main
  .show-main__left
    .show-main__left__image
      = image_tag src= @post.image
    .show-main__left__iine
      = render partial: 'likes/like', locals: { post: @post }
    .show-main__left__manage
      -if user_signed_in? && current_user.id == @post.user_id 
        =link_to edit_post_path(@post.id), method: :get do
          %i.fas.fa-edit#manageBtn
        =link_to post_path(@post.id), method: :delete do
          %i.fas.fa-trash-alt#manageBtn
  
  .show-main__right
    .show-main__right__forms
      .show-main__right__forms__title
        %p 投稿者
      .show-main__right__forms__post
        %p= @post.user.name
    .show-main__right__forms
      .show-main__right__forms__title
        %p タイトル
      .show-main__right__forms__post
        %p= @post.title 
    .show-main__right__forms
      .show-main__right__forms__title 
        %p カテゴリ
      .show-main__right__forms__post 
        %p= @post.category.name
    .show-main__right__forms
      .show-main__right__forms__title
        %p 材料
      .show-main__right__forms__post
        %p= @post.material
    .show-main__right__recipes
      .show-main__right__recipes__recipe
        .show-main__right__recipes__recipe__title
          %p 手順１
        .show-main__right__recipes__recipe__post 
          %p= @post.recipe1
      .show-main__right__recipes__recipe
        .show-main__right__recipes__recipe__title
          %p 手順２
        .show-main__right__recipes__recipe__post 
          %p= @post.recipe2
      .show-main__right__recipes__recipe
        .show-main__right__recipes__recipe__title
          %p 手順３
        .show-main__right__recipes__recipe__post 
          %p= @post.recipe3

.footer
  = render partial: "layouts/footer"

