.header
  = render partial: "layouts/header"

.show-main
  .show-main__left
    .show-main__left--groups
      .show-main__left--groups--image
        = image_tag src= @post.image, height: "550", width: "490"
      .show-main__rigth--groups--form
        = @post.user.name
      .show-main__rigth--groups--form
        = @post.title 
      .show-main__rigth--groups--form
        = @post.material
      .show-main__rigth--groups--form
        = @post.body
  .show-main__rigth--manage
.footer
  = render partial: "layouts/footer"