.header
  = render partial: "layouts/header"
.main
  .main__left
    %p#searchText 「#{Category.find(params[:id]).name}」　の検索結果一覧
    = render partial: "layouts/main_left"

  = render partial: "layouts/main_right"

.footer
  = render partial: "layouts/footer"